.product-cart{
    position: relative;
    border: 2px solid dimgrey;
    border-radius: 10px;
}
.product{
    width: 300px;
    height: 450px;
    margin: 15px;
    padding-top: 8px;
    background-color:lavender;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 10px;
}
.btn-cart{
    width: 100%;
    border: none;
    border-radius: 0px 0px 8px 8px;
    background-color:rgb(106, 241, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color:rgb(240, 88, 83);
}
.btn-cart .btn-text{
    margin-right: 5px;
}